.StartPageHeader-content {
  display: flex;
  width: 100%;
  align-content: space-between;
}
.StartPageHeader-content input {
  width: 100%;
  height: 40px;
  background-color: rgba(221, 37, 108, 0.6);
  color: #fff;
  margin: 10px 0;
  font-size: 20px;
  border: none;
  cursor: pointer;
  outline: none;
}
.StartPageHeader-content .Start-img {
  background-color: #fff;
  width: 250px;
  padding: 12px;
  box-shadow: 1px 1px 20px rgb(218, 189, 208);
  
}
.Start-img img {
  width: 100%;
}

.StartPageHeader-content .info {
  background-color: #fff;
  padding: 15px;
  width: 540px;
  box-shadow: 1px 1px 20px rgb(218, 189, 208);
  margin-left: 40px;
}
.StartPageHeader-about {
  list-style: none;
  color: #333;
}
.StartPageHeader-about li {
  margin: 10px;
  font-family: "Montserrat", sans-serif;
}
