.container {
  margin: 30px 0;
  width: 720px !important;
}
.card {
  
  margin: 15px !important;
    /* text-align: center; */
  padding-left: 0 !important;
  padding-right: 10px;
}

.infected {
  border-bottom: 10px solid rgba(77, 37, 221, 0.7);
}
.recovered {
  border-bottom: 10px solid rgba(135, 221, 37, 0.7);
}
.deaths {
  border-bottom: 10px solid rgba(221, 37, 37, 0.7);
}
@media (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }
}
