.textAreaContainer {
  width: 100%;
  margin-top: 30px;
  border: 1px solid rgba(221, 37, 108, 0.3);
  box-shadow: 1px 1px 20px rgb(218, 189, 208);
  background-color: #fff;
  padding: 15px;
}
.textAreaContainer form{
    box-sizing: border-box;
}
.textAreaContainer textarea {
  border: none;
  outline: none;
  width: 75%;
  margin-right: 5%;
  border: 1px solid rgba(221, 37, 108, 0.3);
  padding: 10px 0 0 10px;
  text-emphasis: none;
  border-radius:20px;
  color:#333;
  height: 40px;
}
.textAreaContainer input {
  background-color: #fff;
  border: none;
  outline: none;
  background-color: rgba(221, 37, 108, 0.6);
  font-size: 20px;
  width: 20%;
  color: #fff;
  height: 40px;
  top:-15px;
  border-radius: 20px;
  position: relative;
}
.postContainer{
  display: flex;
  flex-direction: column-reverse;
}
