.post-container {
  background-color: #fff;
  border: 1px solid rgba(221, 37, 108, 0.3);
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  box-shadow: 1px 1px 20px rgb(218, 189, 208);
  position: relative;
}
.postTools {
  position: absolute;
  right: 30px;
}
.postTools input {
  background-color: #fff;
  outline: none;
  border: none;
  font-size: 20px;
  color: rgba(221, 37, 108, 0.6);
  margin: 0 5px;
}
.postTools .editButton{
  font-size: 30px;
  position: relative;
  top: 4px;
}
.post-container input:hover {
  color: rgba(221, 37, 108, 0.9);
  cursor: pointer;
}
.post-container-header {
  display: flex;
}
.post-container img {
  border-radius: 50%;
  border: 1px solid rgba(221, 37, 108, 0.3);
}
.Post-Header-text {
  padding: 5px;
  padding-left: 20px;
}
.Post-date {
  color: grey !important;
  font-size: 14px;
  margin-top: 5px !important;
}
.Post-date:hover {
  text-decoration: underline;
}

.post-container p {
  margin-top: 15px;
  color: #333;
}
.Post-Header-text a {
  text-decoration: none;
  color: rgba(221, 37, 108, 0.6);
  background-color: #fff;
  transition: all 0.5 ease;
}
.Post-Header-text a:hover {
  text-decoration: underline;
}
.postContainer {
  display: flex;
  flex-direction: column-reverse;
}
