body {
  background-color: rgd(250, 250, 250);
}
.container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  margin-left: 35px;
  padding: 30px 0;
  box-shadow: 1px 1px 20px rgb(218, 189, 208);
}
h1 {
  font-family: sans-serif;
  font-weight: 200;
  color: #666;
}
.mainBlock {
  display: flex;
}
