.nav-bar {
  flex-grow: 1;
}
.nav-link {
  list-style: none;
  border-radius: 3px;
}
.nav-link a:hover {
  background-color: rgb(245, 187, 200);
}
.nav-link a {
  display: block;
  color: rgba(221, 37, 108, 0.7);
  text-decoration: none;
  transition: all 0.1s ease-out;
  padding: 8px 25px;
}
.nav-link a.active {
  background-color: rgba(221, 37, 108, 0.5);
  color: white;
}
.ul-list {
  background-color: #fff;
}
.NavBar-container {
  box-sizing: border-box;
  height: 100%;
  
  box-shadow: 1px 1px 20px rgb(218, 189, 208);
}
.ul-list li:nth-last-child(1) {
  border-top: 1px solid rgba(221, 37, 108, 0.5);
}
