.message-container {
  width: 100%;
  background-color: #fff;
  box-shadow: 1px 1px 20px rgb(218, 189, 208);
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.messageItem {
  margin: 10px;
  display: flex;
  width: 100%;
}
.messageInfoContainer{
  margin-top: 5px;
}
.messageItem img{
  border-radius: 50%;
  margin-right: 15px;
  border: 1px solid rgba(221, 37, 108, 0.3);
}
.messageItem .messageAuthor {
  color: rgba(221, 37, 108, 0.6);
}
.messageItem .messageDate {
  color: #888;
  font-size: 12px;
}
.messageItem .messageText{
    margin-top: 6px;
}
