.header {
  background-color: rgba(221, 37, 108, 0.6);
  align-content: space-between;
  margin-bottom: 40px;
  height: 40px;
  font-size: 20px;
  width: 100%;
}
.header-content {
  display: flex;
  width: 1020px;
  justify-content: space-between;
  margin: 0 auto;
  background-color: transparent;
}
.header-buttons input {
  margin: 0;
  height: 40px;
  font-size: 15px;
  border-bottom: 1px solid #fff;
  outline: none;
  border: none;
  padding: 0 15px;
  cursor: pointer;
  background-color: rgba(221, 37, 108, 0.7);
  color: #fff;
}
.header-buttons input:hover {
  background-color: rgba(221, 37, 108, 0.8);
}
.header-logo img {
  height: 40px;
  background-color: rgba(221, 37, 108, 0.8);
}
