.div-footer{
    width: 100%;
    text-align: end;
    color:white;
    margin-top: 20px;
}
.div-footer p{
    display: block;
    background-color: rgba(221, 37, 108, 0.6);
    font-family: 'Montserrat', sans-serif;
}